<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">

<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">

    <appender name="CONSOLE" class="org.apache.log4j.ConsoleAppender">
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern"
                value="[exampleapp] %p [%t] %c{1}.%M(%L) | %m%n"/>
        </layout>
    </appender>

    <logger name="com.opensymphony.xwork2.util.OgnlValueStack">
        <level value="ERROR"/>
    </logger>
    
    <logger name="net.sf.ehcache">
        <level value="ERROR"/>
    </logger>

    <!-- Suppress success logging from InteractiveAuthenticationSuccessEvent -->
    <logger name="org.acegisecurity">
        <level value="ERROR"/>
    </logger>

    <logger name="org.apache">
        <level value="WARN"/>
    </logger>

   <!-- Limit the org.hibernate category to INFO since logging to DEBUG affects performance badly -->
   <category name="org.hibernate">
      <priority value="INFO"/>
   </category>
   
   <!-- Log SQL statements-->
   <category name="org.hibernate.SQL">
      <priority value="DEBUG"/>
   </category>
    
   <!-- Log the values assigned to the SQL parameters and results -->
   <category name="org.hibernate.type">
      <priority value="DEBUG"/>
   </category>

   <!-- Log transaction event/JTA -->
   <category name="org.hibernate.transaction">
      <priority value="DEBUG"/>
   </category>
   <category name="org.hibernate.event.def.AbstractFlushingEventListener">
      <priority value="DEBUG"/>
   </category>

   <!-- Show SQL Logs for Hibernate Schema Export -->
   <category name="org.hibernate.tool.hbm2ddl.SchemaExport">
      <priority value="DEBUG" />
   </category>  


    <logger name="org.springframework">
        <level value="WARN"/>
    </logger>

    <!-- http://issues.appfuse.org/browse/APF-736#action_11786 -->
    <logger name="com.opensymphony.xwork2.util.XWorkConverter">
        <level value="FATAL"/>
    </logger>

    <!-- http://issues.appfuse.org/browse/APF-852 -->
    <logger name="com.opensymphony.xwork2.util.OgnlUtil">
        <level value="ERROR"/>
    </logger>

    <!-- Turn off warnings from messages.jsp -->
    <logger name="com.opensymphony.xwork2.util.OgnlValueStack">
        <level value="ERROR"/>
    </logger>
   
    <logger name="org.appfuse">
        <level value="INFO"/>
    </logger>
    
    <logger name="org.opensaas.exampleapp">
        <level value="DEBUG"/>
    </logger>

    <root>
        <level value="WARN"/>
        <appender-ref ref="CONSOLE"/>
    </root>

</log4j:configuration>